/* .App {
  text-align: center;
}
body{
  background-color: rgb(3, 109, 74);
}
.input-field{
  padding: 9px 20px;
  margin-top: 10rem;
  border: 2px black solid;
  border-radius: 7px;
}
.btn{
  padding: 10px; */
  /* margin-left: 2px; */
  /* border: 1px black solid;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 9px; */

/* }
table{
  border: 1px black solid;
  margin-left: 49.5rem;
  margin-top: 3rem;  

} */
